<!DOCTYPE html>
html
  head CSV Report Generator
    body
    <form enctype="multipart/form-data" method="post" action="/upload_json" class="form">
      <input type="file" name="sales" accept=".json" class="file">
      <input type="submit" value="Submit">
    </form>
    a: #{link}
    table #{report}


