<!DOCTYPE html>
html
  head CSV Report Generator
    body
  <form method="post" action="/upload_json" class="form-cvs">
    <textarea id="sales-report" name="sales"></textarea>
    <input type="submit" value="Submit">
  </form>
  p #{report}


